<section id="hero-section">

<div>
    <h1 class="cormorant-sc-regular center-align">Community driven <span>green</span> products library</h1>
</div>
<div class="custom-submit-btn-div"><p class="custom-submit-btn encode-sans">SUBMIT AN ECO FRIENDLY PRODUCT</p></div>

</section>