<section id="hero-section">

<div>
    <h1 class="cormorant-sc-regular center-align">Community driven <span>green</span> products library</h1>
</div>
<div class="custom-submit-btn-div"><a class="custom-submit-btn encode-sans" href="">SUBMIT AN ECO FRIENDLY PRODUCT</a></div>

</section>