<section id="navigationBar-section">
<hr class="white-custom-hr">
<div class="black-bg-flexbox cormorant-sc-light padding-20">
    <div><a href="">Household Items</a></div>
    <div><a href="">Fashion & Apparel</a></div>
    <div><a href="">Food & Drink</a></div>
    <div><a href="">Home Decor & Furniture</a></div>
    <div><a href="">Transportation</a></div>
    <div><a href="">Outdoor & Sports Equipment</a></div>
    <div><a href="">Tech & Gadgets</a></div>
    <div><a href="">Gardening & Landscaping</a></div>
    <div><a href="">Toys & Baby Products</a></div>
    <div><a href="">Office Supplies</a></div>
    <div><a href="">Travel & Leisure</a></div>
    <div><a href="">Building Materials & Construction</a></div>
    <div><a href="">Pet Products</a></div>
    <div><a href="">Health & Wellness</a></div>
</div>
</section>