<section id="products-section">


<div id="products-grid-container">


    <% products.forEach(product => { %> 
        
        <div class="products-grid-item encode-sans">
            <div><img src="/images/products/test-product-img.webp" alt=""></div>
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p><%= product.link %></p>
            <p><%= product.image_url %></p>
        </div>

     <% }); %> 



</div>

</section>

