
<div class="row-flex">

 <div>

    test 
    test


</div>

<%# product submission form %>
<div>
<form action="/submitProduct" method="post" class="custom-form-submission">
    <input type="text" name="userId" value="<%= userId %>" hidden="true">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="link" name="link">
    <textarea id="" name="description" placeholder="description"></textarea>
    <input type="file" name="imageUrl" id="">

    <input type="submit" value="Submit">

</form>
</div>  

</div>

