body{
    margin: 0;
}

a,.custom-submit-btn{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 3rem;
    margin: 0px 5%;
}

span{
    color: #859F3D;
}

/****************************FONTS********************************/

/*********************SERIF*********************/
.cormorant-sc-light {
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-sc-regular {
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  /*********************SAN SERIF*********************/

  .encode-sans {
    font-family: "Encode Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/*************************************************************/
  

.row-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.black-bg-flexbox{
    display: flex;
    background-color: #1A1A19;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.black-text-color{
    color: black;
}

.padding-20{
    padding: 20px;
}

.logo{
    width: 100px;
    height: 100px;
}

.black-custom-hr{
color: black;
margin: 0;
}

.white-custom-hr{
border: none;
margin: 0;
background-color: grey;
height: 0.5px;
}

.center-align{
    text-align: center;
}

#navigationBar-section>.black-bg-flexbox{
flex-wrap: wrap;
gap: 10px 2rem;
justify-content: space-between;
}

#hero-section{
    margin: 40px 0px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.custom-submit-btn-div {
    background-color: #859F3D;
    margin: 0 0.2rem;
    padding: 20px;
    width: 300px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
    cursor: pointer;
  }
  
  .custom-submit-btn-div:hover {
    background-color: black; /* Target color on hover */
  }

  #products-grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px 2rem;
    margin: 0 7%;
  }

  .products-grid-item,#profil-user-products-card-container{
    display: flex;
    flex-direction: column;
  }

  .products-grid-item>div>img{
    width: 100%;
  }

 .custom-form-submission{
  display: flex;
  flex-direction: column;
  width: 40%;
  row-gap: 20px;
 }

 .custom-form-submission>input{
  border-radius: 0px;
  border: 0.5px solid;
  height: 70px;
 }

 .custom-form-submission>textarea{
  resize: none;
  overflow: hidden;
  height: 150px;
 }

 #login-form-container,#register-form-container{
  display: flex;
  position: fixed;
  bottom: 200px;
  width: 100%;
  height: 50vh;
  justify-content: center;
 }

 #login-form,#register-form{
  display: flex;
  flex-direction: column;
  background-color: #859F3D;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 300px;
  row-gap: 10px;
  padding: 0 10px;
 }


 #login-form>input,#register-form>input{
  border: none;
  width: 100%;
  height: 25%;
 }

 #login-form>svg,#register-form>svg{
height: 20px;
  width: auto;
  align-self: flex-end;
  cursor: pointer;
 }

.profil-user-products-card{

 }

 #profil-user-products-card-container{
  row-gap: 40px;
  width: 50%;
 }

 .bold-custom-hr{
width: 90%;
   border: solid 3px black;
 }

.login-link,.register-link{
  cursor: pointer;
  color: white;
}

